.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



#pokemonDetailModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#pokemonDetailModal .modal-content {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    color: white;
}

/* Agora, aplicamos a cor correta baseada no tipo do Pokémon */
.modal-content.fire { background: #F57D31; } 
.modal-content.water { background: #6493EB; } 
.modal-content.grass { background: #74CB48; } 
.modal-content.electric { background: #F9CF30; } 
.modal-content.psychic { background: #FB5584; } 
.modal-content.ice { background: #9AD6DF; } 
.modal-content.dragon { background: #7037FF; } 
.modal-content.dark { background: #75574C; } 
.modal-content.fairy { background: #E69EAC; } 
.modal-content.normal { background: #AAA67F; } 
.modal-content.fighting { background: #C12239; } 
.modal-content.flying { background: #A891EC; } 
.modal-content.poison { background: #A43E9E; } 
.modal-content.ground { background: #DEC16B; } 
.modal-content.rock { background: #B69E31; } 
.modal-content.bug { background: #A7B723; } 
.modal-content.ghost { background: #70559B; } 
.modal-content.steel { background: #B7B9D0; } 

.pokemon-image img {
    width: 200px;
    height: 200px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

#pokemonDetailModal:not(.hidden) {
    visibility: visible;
    opacity: 1;
}


